H1{
    text-align: center; 
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
#lorem{
    text-align: justify;
    font-family: monospace;
    color:rgb(255, 0, 0);
}
p{
    color: #a10f0f;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}
.centrado{
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883b9;
    border-radius: 7px;
    border: 2px solid #0016b0;
}
.boton-centro{
    display: flex;
    justify-content: center;
}
.centrado:hover{
    background-color: #60c7fa;
}
.sidebar{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    border: 0px solid #383838;
    background-color: cyan;
}
header{
    margin-left: 20%;
    display: block;
}
article{
    margin-left: 20%;
    margin-top: 10%;
    margin-right: 0%;
}
.logo{
    justify-content: center;
    display: flex;
}
.fondo{
    background-color: rgb(255, 226, 172);
    z-index: -2;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
}
.log{
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: square;
    color: #0016b0;
    margin-left: 5%;
    display: none;
}
#hider:checked + .log{
    display: block;
}
/*#hider{
    display: block;
} 
.nav{

}*/
.sidecont{
    justify-content: center;
    display: flex;
}
nav{
    justify-content: left;
    display: flex;
    height: 5%;
    background-color: indianred;
    width: 101%;
}
.nav{
    display: flex;
    margin-left: 5%;
    align-self: center;
    text-decoration: none;
    background-color: yellow;
    padding: 1%;
}
.h1header{
    margin-bottom: 0px;
}
